<ul id="nav">
  <%# FIXME 初期状態で隠したいというためだけに毎回SQLを発行して件数を取得している。少しでもデータが出来るとまったく無駄な処理なのでなんとかならないか %>
  <li class="home_link"><%= link_to_unless_current(icon_tag('house') + 'ポータル', "javascript:void(0)", :onclick => "javascript:IS_Portal.goHome();return false;") %></li>

  <li><%= link_to_unless_current(icon_tag('calendar') + 'カレンダー', "https://www.google.com/calendar/hosted/#{gapps_domain}/render", :onclick => open_iframe("https://www.google.com/calendar/hosted/#{gapps_domain}/render")) %></li>
  <li><%= link_to_unless_current(icon_tag('email') + 'メール', "https://mail.google.com/a/#{gapps_domain}/", :target => "_blank") %></li>

  <li><%= link_to_unless_current(icon_tag('report', :title => _('Entries')) + _('Entries'), polymorphic_url([current_tenant, :board_entries]), :onclick => open_iframe("#{polymorphic_url([current_tenant, :board_entries])}")) if current_tenant.board_entries.count > 0 %></li>
  <li><%= link_to_unless_current(icon_tag('disk_multiple', :title => _('Files')) + _('Files'), polymorphic_url([current_tenant, :share_files]), :onclick => open_iframe("#{polymorphic_url([current_tenant, :share_files])}")) if current_tenant.share_files.count > 0 %></li>
  <li><%= link_to_unless_current(icon_tag('user_suit', :title => _('Users')) + _('Users'), polymorphic_url([current_tenant, :users]), :onclick => open_iframe("#{polymorphic_url([current_tenant, :users])}")) if current_tenant.users.count > 1 %></li>
  <li><%= link_to_unless_current(icon_tag('group', :title => _('Groups')) + _('Groups'), polymorphic_url([current_tenant, :groups]), :onclick => open_iframe("#{polymorphic_url([current_tenant, :groups])}")) if current_tenant.groups.count > 0 %></li>
  <li><%= link_to_unless_current(icon_tag('star') + '店舗matic', "https://demo2.tempomatic.jp/h2/Login.do", :target => "_blank") %></li>
</ul>
