<div id="stock_entry_wrapper">
  <div id="stock_entry" class="ui-corner-all">
    <% stock_entries = BoardEntry.owned(@group).stock_entry -%>
    <% unless stock_entries.blank? -%>
      <% root_stock_entry = BoardEntry.owned(@group).stock_entry.find_by_parent_id(nil) %>
      <div class="title"><h1><%= root_stock_entry.title %></h1></div>
      <div class="contents"><%= root_stock_entry.contents %></div>
      <%= render :partial => 'group/stock_entry_index', :locals => { :stock_entries => stock_entries } %>
    <% else -%>
      <div class="index">
        <p><%= _('The stock entry has not been registered yet.') %></p>
        <% if current_user.participating_group?(@group) -%>
          <%= link_to _('About stock entry') %>
          <div style="width:150px;">
            <%= link_to(content_tag('span', _('Create stock entry')), {:controller => 'group', :action => "new_stock_entry"}, {:class => "rounded", :method => :post}) %>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
