<style>
  table#gapps_cal td {border:1px solid #CCCCCC;}
  table#gapps_cal td.saturday{background-color:#F5FFFA}
  table#gapps_cal td.sunday{background-color:#FFF0F5}
  table#gapps_cal td.date{font-size:14px;text-align:center;vertical-align:center;}
  table#gapps_cal td.detail{vertical-align:top;}
  table#gapps_cal td.detail ul{list-style-type:none;list-style-position:inside;padding:2px 2px;font-size:14px;margin:0}
  table#gapps_cal td.detail ul li{padding:2px}
</style>
<% record_date = Date.today -%>
<div id="gadget_wrapper" class="ui-corner-all">
  <h2 class="ui-corner-top"><%= link_to(icon_tag("calendar") + "カレンダー " +"(" + record_date.strftime('%Y年%m月%d日') + ")", "https://www.google.com/calendar/hosted/#{gapps_domain}/render" %></h2>

<table id="gapps_cal" cellspacing="0" width="98%" style="margin:1%;border-collapse: collapse;">
  <col width="20%" />
  <col />
  <tbody>
    <% for i in 0..6 -%>
      <tr>
        <td class="date <%= date2wday(record_date + i) %>">
          <%= link_to("#{(record_date + i).day}日", "https://www.google.com/calendar/hosted/#{gapps_domain}/render") %>
        </td>
        <td class="detail">
          <ul>
            <% @contents.each do |calender| -%>
              <%# TODO:繰り返し登録にも対応するように %>
              <% if calender.elements['gd:when'] -%>
                <% start_time = calender.elements['gd:when'].attribute('startTime').to_s.to_time %>
                <% end_time = calender.elements['gd:when'].attribute('endTime').to_s.to_time %>

                <% if (start_time.to_date == (record_date + i) || start_time.to_date <= (record_date + i) && (record_date + i) < end_time.to_date) -%>
                  <li>
                    <%= time_of_calender(start_time, end_time) %>
                    <%= link_to(h(truncate(calender.elements['title'].text, 20)), calender.elements['link'].attribute('href').to_s) -%>
                  </li>
                <% end -%>
              <% end -%>
            <% end -%>
          </ul>
          <div align="right">
            <%= link_to(icon_tag("page_edit"), "http://www.google.com/calendar/hosted/#{gapps_domain}/event?action=TEMPLATE&text=&dates=#{Time.now.since(i.days).utc.strftime("%Y%m%dT%H%M%SZ")}/#{Time.now.since(i.days + 1.hours).utc.strftime("%Y%m%dT%H%M%SZ")}") %>
          </div>
        </td>
      </tr>

    <% end -%>
  </tbody>
</table>
</div>
<br/>
