<style>
  table#gapps_cal{border:1px solid #999999}
  table#gapps_cal tr.date{text-align:center}
  table#gapps_cal tr.date td.weekday{background-color:#FFFFCC}
  table#gapps_cal tr.date td.saturday{background-color:#CCFFFF}
  table#gapps_cal tr.date td.sunday{background-color:#FFCCCC}
  table#gapps_cal tr.detail{height:6em}
  table#gapps_cal tr.detail ul{list-style-position:inside;padding:0}
  table#gapps_cal td{border:1px solid #999999;vertical-align:top}
</style>
<%# TODO: 以下のロジックをcontrollerに %>
<% xml_doc = REXML::Document.new @calenders -%>
<% record_date = Date.today -%>

<div>
  <span style="text-align:left;">
    <select class="select_navi">
      <option value="<%= site_url -%>/gadgets/gapps_calenders">(グループ表示)</option>
      <option value="<%= site_url -%>/gadgets/gapps_calenders?calender_id=youroom.sg_hqje4mph22jlsipkqut5ljvll8%40group.calendar.google.com"> クラウドビジネス部 </option>
      <option value="<%= site_url -%>/gadgets/gapps_calenders?calender_id=youroom.sg_33383233373732372d333533%40resource.calendar.google.com"> 会議室1 </option>
    </select>
  </span>
  <span style="text-align:center;">
    <%= record_date.strftime('%Y年%m月%d日') %>
  </span>
</div>

<table id="gapps_cal">
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <tbody>
    <tr class="date">
      <% for i in 0..6 -%>
        <td class="<%= date2wday(record_date + i) %>">
          <%= (record_date + i).day %>
        </td>
      <% end -%>
    </tr>

    <tr class="detail">
      <%# TODO:曜日毎に全feedを確認しないように -%>
      <% for i in 0..6 -%>
        <td>
          <ul>
            <%# TODO:helperメソッドとしてロジックはviewから排除する -%>
            <% xml_doc.elements.each("feed/entry") do |calender| -%>
<%# TODO:繰り返し登録にも対応するように %>
<% if calender.elements['gd:when'] -%>
              <% st = ParseDate::parsedate(calender.elements['gd:when'].attribute('startTime').to_s) -%>
              <% et = ParseDate::parsedate(calender.elements['gd:when'].attribute('endTime').to_s) -%>
              <% start_time = Time::local(*st[0..-3]).strftime("%H:%M") %>
              <% end_time = Time::local(*et[0..-3]).strftime("%H:%M") %>

              <% if (Time::local(*st[0..-3]).day == (record_date + i).day || (Time::local(*st[0..-3]).day <= (record_date + i).day && (record_date + i).day < Time::local(*et[0..-3]).day)) -%>
                <li>
                  <%# TODO:linkのhrefが複数あることを考慮すること -%>
                  <%= link_to(h(truncate(calender.elements['title'].text, 20)), calender.elements['link'].attribute('href').to_s) -%>
                  <% if (start_time == "00:00" && end_time == "00:00") -%>
                    <%= "終日" %>
                  <% else -%>
                    <%= start_time %> - <%= end_time %>
                  <% end -%>
                </li>
              <% end -%>
<% end -%>
            <% end -%>
          </ul>
          <span><%= link_to(icon_tag("page_edit"), "http://www.google.com/calendar/hosted/#{gapps_domain}/event?action=TEMPLATE&text=&dates=#{Time.now.since(i.days).utc.strftime("%Y%m%dT%H%M%SZ")}/#{Time.now.since(i.days + 1.hours).utc.strftime("%Y%m%dT%H%M%SZ")}") %></span>
        </td>
      <% end -%>
    </tr>
  </tbody>
</table>
