<style>
  div#gadget_wrapper h2{background-color:#F5F5F5;}
  div#gadget_wrapper {background-color:#F8F8FF;}
</style>

<div align="center" class="ui-corner-all" style="background-color:#F7F7F8;padding:10px;">
  <%= show_picture(current_user, :width => 128, :height => 128) %>
  <br/>
  <%= link_to(current_user.name, polymorphic_url([current_tenant, current_user])) %>
</div>
<br/>

<div id="gadget_wrapper" class="ui-corner-all">
  <h2 class="ui-corner-top"><%= icon_tag('world') %><%= "操作" %></h2>
  <%= render :partial => "gadgets/link_lists", :locals => { :links => @action_links } %>
</div>
<br/>

<div id="gadget_wrapper" class="ui-corner-all">
  <h2 class="ui-corner-top"><%= icon_tag('world') %><%= "リンク集" %></h2>
  <%= render :partial => "gadgets/link_lists", :locals => { :links => @external_links } %>
</div>
