<%#= skip_stylesheet_link_tag "themes/base/jquery-ui.css" %>
<%#= skip_stylesheet_link_tag "themes/cupertino/ui.core.css" %>
<%#= skip_stylesheet_link_tag "themes/cupertino/ui.theme.css" %>
<link href="https://test-live.skipaas.jp/stylesheets/skip/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
<link href="https://test-live.skipaas.jp/stylesheets/skip/themes/cupertino/ui.core.css" media="screen" rel="stylesheet" type="text/css" />
<link href="https://test-live.skipaas.jp/stylesheets/skip/themes/cupertino/ui.theme.css" media="screen" rel="stylesheet" type="text/css" />

<div id="gadget_wrapper">
  <h2><%= link_to("新着ユーザ／グループ", tenant_users_url(current_tenant)) %></h2>

  <div id="tabs" class="invisible" style="margin: 0 0 10px 0;">
    <ul>
      <li style="width: 10px; border: none;">&nbsp;</li>
      <li><a href="#<%= @recent_users[:id_name] %>" class="large"><span><%= "新着ユーザ" %></span></a></li>
      <li><a href="#<%= @recent_groups[:id_name] %>" class="small"><span><%= "新着グループ" %></span></a></li>
    </ul>

    <div id="<%= @recent_users[:id_name] %>" class="target_iframe">
      <% @recent_users[:pages].each do |user| -%>
        <div class="border_bottom">
          <%= show_picture(user, :width => 18, :height => 18) %>
          <%= link_to(user.name, tenant_user_url(current_tenant, user)) %>&nbsp;<span class="small_text">(<%= h(user.section) %>)</span>
        </div>
      <% end -%>
    </div>

    <div id="<%= @recent_groups[:id_name] %>" class="target_iframe">
      <% @recent_groups[:pages].each do |group| -%>
        <div class="border_bottom">
          <%= get_group_icon(group.group_category, :margin => true) %><%= link_to(group.name, tenant_group_url(current_tenant, group)) %>&nbsp;<span class="small_text">(<%= truncate(strip_tags(group.description), 20) %>)</span>
        </div>
      <% end -%>
    </div>
  </div>

</div>
