<style type="text/css">
  div.topix_entries_wrapper {color:#555555;}
  div.topix_entries_wrapper table.topix_entries tr{border-bottom:1px dotted #CCCCCC;}
</style>

<div id="gadget_wrapper">
  <h2><%= icon_tag('asterisk_orange') %><%= link_to("みんなからの質問", polymorphic_url([current_tenant, :board_entries], :search => { :aim_type => 'question' })) %></h2>
  <%# TODO:pagesを利用しないように" -%>
  <% @questions[:pages].each do |question| -%>
    <div class="border_bottom">
      <%= get_publication_type_icon(question) %><%= link_to(question.title, polymorphic_url([current_tenant, question.owner, question])) %>&nbsp;<span class="small_text">(<%= link_to(question.owner.name, polymorphic_url([current_tenant, question.owner])) %>)</span>
    </div>
  <% end -%>
</div>
<div align="right"><%= link_to(_('Write a question'), new_polymorphic_url([current_tenant, current_user, :board_entry], :board_entry => {:aim_type => 'question'})) %></div>
